<a href="https://colab.research.google.com/github/positivezenart/SQL-resource/blob/main/Hacker_rank_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Query all columns for all American cities in the CITY table with populations larger than 100000. The CountryCode for America is USA.

The CITY table is described as follows:

In [ ]:
SELECT *
FROM CITY
WHERE POPULATION > 100000 AND COUNTRYCODE = 'USA'

Query the NAME field for all American cities in the CITY table with populations larger than 120000. The CountryCode for America is USA.

In [ ]:
SELECT NAME
FROM CITY
WHERE POPULATION > 120000 AND COUNTRYCODE = "USA"

Query all columns (attributes) for every row in the CITY table.

In [ ]:
SELECT *
FROM CITY

Query all columns for a city in CITY with the ID 1661.

In [ ]:
SELECT *
FROM city
WHERE ID ="1661"

Query all attributes of every Japanese city in the CITY table. The COUNTRYCODE for Japan is JPN.

In [ ]:
SELECT *
FROM CITY
WHERE COUNTRYCODE = "JPN"

Query the names of all the Japanese cities in the CITY table. The COUNTRYCODE for Japan is JPN.

In [ ]:
SELECT NAME
FROM CITY
WHERE COUNTRYCODE = "JPN"

Query a list of CITY and STATE from the STATION table.

In [ ]:
/*
Enter your query here.
*/
SELECT CITY, STATE
FROM STATION

Query a list of CITY names from STATION for cities that have an even ID number. Print the results in any order, but exclude duplicates from the answer.

In [ ]:
/*
Enter your query here.
*/
SELECT DISTINCT CITY
FROM STATION
WHERE ID%2 = 0

Find the difference between the total number of CITY entries in the table and the number of distinct CITY entries in the table.

In [ ]:
/*
Enter your query here.
*/
SELECT COUNT(CITY)-COUNT(DISTINCT CITY)
FROM STATION

Query the two cities in STATION with the shortest and longest CITY names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.

Query the list of CITY names starting with vowels (i.e., a, e, i, o, or u) from STATION. Your result cannot contain duplicates.

In [ ]:
select DISTINCT city
from station
WHERE city like 'a%' OR city like 'e%' OR city like 'i%' OR city like 'o%' OR city like 'u%' ;

Query the list of CITY names ending with vowels (a, e, i, o, u) from STATION. Your result cannot contain duplicates.

In [ ]:
/*
Enter your query here.
*/
select DISTINCT city
from station
WHERE city like '%a' OR city like '%e' OR city like '%i' OR city like '%o' OR city like '%u' ;

Query the list of CITY names from STATION which have vowels (i.e., a, e, i, o, and u) as both their first and last characters. Your result cannot contain duplicates.

Input Format

In [ ]:
/*
Enter your query here.
*/
select DISTINCT city
from station

WHERE (city like '%a' OR city like '%e' OR city like '%i' OR city like '%o' OR city like '%u' ) AND
(city like 'a%' OR city like 'e%' OR city like 'i%' OR city like 'o%' OR city like 'u%' )

Query the list of CITY names from STATION that do not start with vowels. Your result cannot contain duplicates.

In [ ]:
/*
Enter your query here.
*/
SELECT DISTINCT CITY
FROM STATION
WHERE (not city like 'a%') AND (not city like 'e%') AND (not city like 'i%') AND (not city like 'o%') AND (not city like 'u%')

Query the list of CITY names from STATION that do not end with vowels. Your result cannot contain duplicates.

In [ ]:
/*
Enter your query here.
*/
SELECT DISTINCT CITY
FROM STATION
WHERE (not city like '%a') AND (not city like '%e') AND (not city like '%i') AND (not city like '%o') AND (not city like '%u')